[Unit]
Description=Guiyi Quant supervised application services
Requires=guiyi-quant-api.service
After=guiyi-quant-api.service

[Install]
WantedBy=multi-user.target
